<div class="content">
    <div class="title-box">
        <h1 class="about-title"><u>1on1:</u></h1>
        <h2 class="light">Author:
            <a href="mailto:phillipsw1@wit.edu">Wyatt Phillips</a>
            | Developed for
            <a href="http://www.tufts-polyhack.com/">PolyHack 2019</a>
        </h2>
    </div>
    <p>This app takes the hassle out of sharing links.</p>
    <div class="barrier light">
        <a href="https://devpost.com/software/1on1">Devpost</a> | <a href="https://github.com/SirTangent/1on1">Source Code</a>
    </div>
    <div class="footer">
        <a href="/">Go Back</a>
    </div>
</div>
