<div class="content">
    <div class="title-box">
        <h1 class="about-title">Stream Created!</h1>
        <h2 class="light">
            Your Generated Code: <a href="/{{code}}">{{code}}</a>
        </h2>
    </div>
        <h2 class="barrier">
            Passphrase (Copy & Keep Safe): {{passphrase}}
        </h2>
    <div class="footer">
        <a href="/">Start a Stream</a> | <a href="/f/about">About 1on1</a>
    </div>
</div>
