<div class="content">
    <div class="title-box">
        <h1 class="about-title"><u>1on1:</u></h1>
        <h2 class="light">Because links are too long!</h2>
    </div>
    <form class="barrier" action="">
        Enter Stream Code:<br>
        <input type="text" name="stream_code">
        <input type="submit" value="Join">
    </form>
    <button type="button">Create</button>
    <div class="footer">
        <a href="/f/about">About 1to1</a>
    </div>
</div>
