<div class="content">
    <div class="title-box">
        <h1 class="about-title"><u>1on1:</u></h1>
        <h2 class="light">Because links are too long!</h2>
    </div>
    <form class="barrier" action="javascript:void(0);">
        Enter Stream Code:<br>
        <input type="text" id="stream_code" name="stream_code">
        <input type="submit" id="submit_code" value="Join"></button>
    </form>
    <button type="button" id="create">Create</button>
    <div class="footer">
        <a href="/f/about">About 1on1</a>
    </div>
</div>
