<div class="content">
    <h4>Stream ID >> <u>{{stream_id}}</u></h4>
    <h1 class="msg-last">
        {{#if msg}}
            {{msg.[0]}}
        {{else}}
            [No Messages]
        {{/if}}

    </h1>
    <div class="prev-msgs">
        {{#each msg}}
            {{#unless @first}}
                <h3>{{this}}</h3>
            {{/unless}}
        {{/each}}
    </div>

    <div class="footer">
        <form class="barrier-bottom" action="javascript:void(0);">
            Passphrase:<br>
            <input type="password" name="passphrase" id="passphrase">
            <input type="submit" value="Host" id="host">
        </form>
        <a href="/">Start a Stream</a> | <a href="/f/about">About 1on1</a>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
<script src="/js/transmit.js"></script>
