<div class="content">
    <h4>Stream ID >> <u>{{stream_id}}</u></h4>
    <h1 class="msg-last">
        {{#if msg}}
            {{msg.[0]}}
        {{else}}
            [No Messages]
        {{/if}}

    </h1>
    <div class="prev-msgs">
        {{#each msg}}
            {{#unless @first}}
                <h3>{{this}}</h3>
            {{/unless}}
        {{/each}}
    </div>

    <div class="footer">
        <form class="barrier-bottom" action="">
            Passphrase:<br>
            <input type="text" name="passphrase">
            <input type="submit" value="Control">
        </form>
        <a href="/">Start a Stream</a> | <a href="/f/about">About 1on1</a>
    </div>
</div>
